@charset "utf-8";
/* CSS Document */
body {
	background:url(../images/html_bg.gif) repeat left top;
	margin:0;
	padding:0;
	min-width:1002px;
}
#loginbody {
	margin:0;
	padding:0;
	background:#CCCCCC url(../images/bg.gif) no-repeat center top;
}
form, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, img, a {
	margin:0;
	padding:0;
	outline:none;
	border:0;
}
.login_section {
	margin:104px auto 0;
	padding:0;
	width:421px;
}
.login_logo {
	margin:0;
	padding:0 0 13px 0;
	width:421px;
	text-align:center;
}
.login_box {
	margin:0;
	padding:11px;
	width:399px;
	height:300px;
	background: url(../images/login_bg.png) no-repeat left top;
	text-align:center;
}
#login_form {
	text-align:left;
	padding:0 0 0 66px;
	margin:0;
}
.login_box h1 {
	margin:11px 0 0 0;
	padding:0 0 0 23px;
	min-height:55px;
	font:bold 17px/17px Arial, Helvetica, sans-serif;
	color:#d8dade;
	text-shadow:1px 1px 1px #000;
	background:url(../images/login_box_h1.png) no-repeat left top;
	display:inline-block;
}
.login_box input.placeholder {
	color:#959da0;
}
.login_box input {
	color:#8b7d7d;
	background:#FFFFFF url(../images/input_text_bg.gif) no-repeat left top;
	border:1px solid #c0c7ce;
	border-radius:6px;
	font:normal 12px/12px Arial, Helvetica, sans-serif;
	margin:0 0 8px 0;
	padding:13px 27px;
	vertical-align:middle;
	width:212px;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	behavior:url(/style/PIE.htc);
	position:relative;
}
.login_box input[type="text"].pass {
	background:#FFFFFF url(../images/input_password_bg.gif) no-repeat left top;
}
.login_box input[type="password"] {
	background:#FFFFFF url(../images/input_password_bg.gif) no-repeat left top;
}
.login_box input[type="button"] {
	background:#fddb5d url(../images/input_button_bg.gif) repeat-x left top;
	font:normal 19px/19px Arial, Helvetica, sans-serif;
	color:#202429;
	border:1px solid #f8e2a1;
	width:auto;
	overflow:visible;
	padding:11px 20px;
	text-shadow:1px 1px 1px #f7e09f;
	box-shadow: #c6c8ca 0px 2px 3px;
	cursor:pointer;
}
.login_box input[type="button"]:hover {
	background:#555e6a url(../images/input_button_hover_bg.gif) repeat-x left top;
	color:#ffffff;
	border:1px solid #8a929c;
	text-shadow:1px 1px 1px #6e7074;
}
img.keyboard {
	margin:0;
	padding:0 0 0 5px;
	text-align:left;
}
.login_box p {
	color:#73757b;
	font:normal 14px/14px Arial, Helvetica, sans-serif;
	text-align:right;
	padding:0 65px 0 0;
	margin:0;
}
.login_box a {
	color:#73757b;
	text-decoration:underline;
}
.login_box a:hover {
	color:#456393;
	text-decoration:underline;
}
header {
	margin:0;
	padding:0 1%;
	width:98%;
	height:72px;
	background:url(../images/header_bg.gif) repeat-x left top;
}
.logo {
	float:left;
	margin:0;
	padding:19px 0 0 0;
}
.login_info {
	float:right;
	margin:0;
	padding:28px 0 0 0;
	font: normal 12px/12px Arial, Helvetica, sans-serif;
	color:#c3c6cb;
}
.login_info strong {
	color:#edf1f6;
	padding:0 2px 0 0;
}
.login_info a {
	color:#c3c6cb;
	background:url(../images/login_info_bg.gif) no-repeat right 2px;
	padding:0 22px 0 2px;
}
.login_info a:hover {
	color:#b89128;
	background:url(../images/login_info_bgHover.gif) no-repeat right 2px;
}
.main_section {
	margin:13px 1% 0;
	padding:0;
	float:left;
	width:98%;
	background:#d7dbde url(../images/main_section_bg.jpg) repeat-y left top;
	border-radius:10px;
	box-shadow: #000000 0px 0px 10px;
	behavior:url(/style/PIE.htc);
	position:relative;
}
.left_section {
	width:210px;
	background:url(../images/left_section_bg.jpg) no-repeat left top;
	float:left;
	padding:39px 0 0 6px;
	border-radius:10px 0 0 10px;
	behavior:url(/style/PIE.htc);
	position:relative;
}
.menu_header {
	margin:0;
	padding:18px 0 0 20px;
	height:28px;
	width:177px;
	background:url(../images/menu_header_bg.gif) no-repeat left top;
	font:normal 16px/16px Arial, Helvetica, sans-serif;
	color:#434953;
}
/**/
.menu_options {
	width:192px;
	padding:0 0 0 5px;
	background:url(../images/menu_options_bg.gif) no-repeat left bottom;
}
.menu_options p {
	font: normal 12px/12px Arial, Helvetica, sans-serif;
	color:#3e444b;
	margin:0 16px 0 16px;
	padding-bottom:10px;
	text-shadow:1px 1px 1px #fff;
}
.menu_options p.first {
	background:url(../images/first_p_bg.gif) repeat-x left top;
	padding-top:8px;
}
.menu_options .menuitem {
	background:url(../images/menuitem_bg.gif) no-repeat left bottom;
	color: #f5f2f2;
	font:bold 14px/14px Arial, Helvetica, sans-serif;
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
	width:157px;
	padding:14px 15px;
	text-decoration: none;
	border-bottom:1px solid #a8b2be;
	text-shadow:1px 1px 1px #3a4047;
}
.menu_options .menuitem:visited, .menu_options .menuitem:active {
}
.menu_options .menuitem .statusicon { /*CSS for icon image that gets dynamically added to headers*/
	position: absolute;
	top: 5px;
	right: 5px;
	border: none;
	display:none;
}
.menu_options .menuitem:hover {
	background:url(../images/menuitem_hover_bg.gif) no-repeat left bottom;
	color:#333a43;
	border-bottom:1px solid #f3e785;
	text-shadow:1px 1px 1px #f8e4a7;
}
.menu_options div.submenu { /*DIV that contains each sub menu*/
	width:187px;
	background:#f2f4f5;
}
.menu_options div.submenu ul { /*UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu_options div.submenu ul li {
}
.menu_options div.submenu ul li a {
	display: block;
	background:#f2f4f5 url(../images/submenu_bg.gif) no-repeat 5px 11px;
	font:bold 13px Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #4d5663;
	width:145px;
	padding:10px 0 10px 22px;
	margin:0 10px;
	border-bottom:1px solid #d4d7dc;
}
.menu_options div.submenu ul li a:hover {
	background:#f2f4f5 url(../images/submenu_hover_bg.gif) no-repeat 5px 11px;
	color:#176a8c;
}
.selected {
	background:url(../images/menuitem_hover_bg.gif) no-repeat left bottom;
	color:#333a43;
	border-bottom:1px solid #f3e785;
}
.submenu .selected {
	background:#f2f4f5 url(../images/submenu_hover_bg.gif) 15px 10px no-repeat;
	color:#176a8c;
}
/**/
.menu_footer {
	margin:0 0 19px 0;
	padding:0;
	width:237px;
	height:10px;
	background:url(../images/menu_footer_bg.png) no-repeat left top;
}
.menu_footer_last {
	margin:0 0 19px 0;
	padding:0;
	width:237px;
	height:10px;
	background:url(../images/menu_footer_last_bg.png) no-repeat left top;
}
.right_section {
	margin:0;
	padding:0;
	float:left;
}
.heading_area {
	margin:0;
	padding:11px 0 0 21px;
	border-radius:0 10px 0 0;
	behavior:url(/style/PIE.htc);
	position:relative;
	height:40px;
	font:normal 18px/18px Arial, Helvetica, sans-serif;
	color:#5e5a5a;
	background:url(../images/heading_area_bg.jpg) no-repeat right top;
}
.heading_area .imgfull {
	margin:-6px 30px 0px 0;
	float:right;
}
.content_area {
	margin:0;
	padding:20px 30px 20px 21px;
	background:url(../images/content_area_bg.jpg) no-repeat right top;
	min-height:610px;
	border-radius:0 0 10px 0;
	behavior:url(/style/PIE.htc);
	position:relative;
	overflow:hidden;
}
.form_row {
	margin:0;
	padding:0 0 8px 0;
	overflow:auto;
}
.form_label {
	margin:0;
	padding:7px 10px 0 0;
	float:left;
	text-align:right;
	font:normal 12px/12px Arial, Helvetica, sans-serif;
	color:#596164;
	text-shadow:#FFFFFF 1px 1px 1px;
	min-width:118px;
}
.form_label h2 {
	color:#6183a9;
	font:normal 20px Arial, Helvetica, sans-serif;
	padding:0 0 18px 0;
	text-shadow:1px 1px 1px #fcfcfd;
}
.form_label .required {
	color:#ff0000;
}
.form_field {
	margin:0;
	padding:0;
	float:left;
	min-width:150px;
}
.form_field_same {
	margin:0;
	padding:8px 10px;
	float:left;
	min-width:127px;
	border:1px solid #bec3c7;
	background:#d8dbe0;
	color:#596164;
	font:normal 12px Arial, Helvetica, sans-serif;
}
.form_field_same input[type="checkbox"] {
	margin:0;
	padding:0;
	/*float:left;*/
	width:25px;
	background:none;
	border:none;
}
.form_field_same input[type="radio"] {
	margin:0;
	padding:0;
	/*float:left;*/
	width:25px;
	background:none;
	border:none;
}
.content_area input, .content_area select {
	margin:0;
	padding:5px 2px 5px 10px;
	background:#ffffff url(../images/content_input_bg.gif) repeat-x left top;
	border:#c0c7ce solid 1px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	behavior:url(/style/PIE.htc);
	position:relative;
	width:138px;
	overflow:visible;
	font:normal 12px/12px Arial, Helvetica, sans-serif;
	color:#b1a7a7;
}
.content_area select {
	width:150px;
}
.content_area .form_separate {
	margin:0 0 8px 0;
	padding:0 0 22px 0;
	background:url(../images/form_separate_bg.gif) repeat-x left bottom;
}
.content_area input[type="button"] {
	background:#fddb5d url(../images/input_button_bg.gif) repeat-x left top;
	font:normal 17px/19px Arial, Helvetica, sans-serif;
	color:#202429;
	border:1px solid #f8e2a1;
	width:auto;
	overflow:visible;
	padding:0px 18px;
	height:31px;
	text-shadow:1px 1px 1px #f7e09f;
	margin:0;
	box-shadow: #c6c8ca 0px 2px 3px;
	cursor:pointer;
	border-radius:6px;
	behavior:url(/style/PIE.htc);
	position:relative;
}
/*.content_area input[type="button"] {
	background:#fddb5d url(../images/input_button_bg.gif) repeat-x left top;
	font:normal 17px/19px Arial, Helvetica, sans-serif;
	color:#202429;
	border:1px solid #f8e2a1;
	width:auto;
	overflow:visible;
	padding:4px 20px 4px 20px;
	text-shadow:1px 1px 1px #f7e09f;
	box-shadow: #c6c8ca 0px 2px 3px;
	cursor:pointer;
	margin:0;
}*/
.content_area input[type="button"]:hover {
	background:#555e6a url(../images/input_button_hover_bg.gif) repeat-x left top;
	color:#ffffff;
	border:1px solid #8a929c;
	text-shadow:1px 1px 1px #6e7074;
}
.content_area input.search {
	background:#fddb5d url(../images/input_button_bg.gif) repeat-x left top;
	font:normal 15px/15px Arial, Helvetica, sans-serif;
	color:#202429;
	border:1px solid #f8e2a1;
	width:auto;
	overflow:visible;
	padding:3px 32px 3px 16px;
	padding/**\*/:5px 32px 5px 16px\9;
	text-shadow:1px 1px 1px #f7e09f;
	box-shadow: #c6c8ca 0px 2px 3px;
	cursor:pointer;
}
.search_img {
	position:absolute;
	z-index:2;
	margin:-7px 0 0 -32px;
}
.widthauto {
	min-width:inherit !important;
}
.result_box {
	float:left;
	margin:0;
	padding:20px 0 19px 0;
	font:normal 12px/12px Arial, Helvetica, sans-serif;
	color:#596164;
	text-shadow:1px 1px 1px #ffffff;
}
.paging {
	margin:0;
	padding:13px 0 0px 0;
	float:right;
}
.paging img {
	margin:0;
	padding:1px 0 0 0;
}
.paging li {
	margin:0;
	padding:0;
	float:left;
	list-style:none;
}
.paging a {
	margin:0 0 0 1px;
	padding:4px 8px 0 8px;
	float:left;
	list-style:none;
	color:#fff;
	font:bold 11px/11px Tahoma;
	background:url(../images/paging_bg.gif) repeat-x left top;
	height:16px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	text-decoration:none;
	behavior:url(/style/PIE.htc);
	position:relative;
}
.paging a:hover {
	color:#2e302e;
	text-decoration:none;
	background:url(../images/paging_hover_bg.gif) repeat-x left top;
}
.paging a.active {
	color:#2e302e;
	text-decoration:none;
	background:url(../images/paging_hover_bg.gif) repeat-x left top;
}
.paging .arrow-first {
	background:url(../images/arrow-first.gif) no-repeat center top
}
.paging .arrow-first:hover {
	background:url(../images/arrow-first.gif) no-repeat center bottom;
}
.paging .arrow-prev {
	background:url(../images/arrow-prev.gif) no-repeat center top;
}
.paging .arrow-prev:hover {
	background:url(../images/arrow-prev.gif) no-repeat center bottom;
}
.paging .arrow-next {
	background:url(../images/arrow-next.gif) no-repeat center top;
}
.paging .arrow-next:hover {
	background:url(../images/arrow-next.gif) no-repeat center bottom;
}
.paging .arrow-last {
	background:url(../images/arrow-last.gif) no-repeat center top;
}
.paging .arrow-last:hover {
	background:url(../images/arrow-last.gif	) no-repeat center bottom;
}
.gird_box {
	clear:both;
	overflow:hidden;
}
.touch_gird_box {
	clear:both;
	overflow:hidden;
}
.scroll_pane_tab {
	width: 100%;
	height:515px;
}
footer {
	margin:0;
	padding:30px 1%;
	width:98%;
	text-align:center;
	color:#9ca39e;
	font:bold 12px/12px Arial, Helvetica, sans-serif;
	float:left;
}
footer ul {
	margin:0;
	padding:0 0 0 0;
	display:inline;
}
footer li {
	margin:0;
	padding:0 10px 0 8px;
	display:inline;
	list-style:none;
	background:url(../images/footer_sep.gif) no-repeat right 3px;
}
footer a {
	color:#9ca39e;
	text-decoration:none;
}
footer a:hover {
	color:#B89128;
	text-decoration:none;
}
footer p {
	padding:8px 0 5px;
}
.scroll-pane {
	width: 100%;
	overflow: auto;
}
input[type="button"].gray_button {
	background:#fddb5d url(../images/button_normal_bg.gif) repeat-x left top;
	font:normal 19px/19px Arial, Helvetica, sans-serif;
	color:#fff;
	border:1px solid #545b67;
	width:auto;
	overflow:visible;
	padding:8px 27px;
	height:43px;
	text-shadow:1px 1px 1px #2d3136;
	margin:0 15px 19px 0;
	box-shadow:none;
	cursor:pointer;
	border-radius:6px;
	behavior:url(/style/PIE.htc);
	position:relative;
}
input[type="button"].gray_button:hover {
	background:#555e6a url(../images/button_over_bg.gif) repeat-x left top;
	color:#333a43;
	border:1px solid #dbbb4b;
	text-shadow:1px 1px 1px #f8e3a8;
}
input[type="button"].activegray {
	background:#555e6a url(../images/button_over_bg.gif) repeat-x left top;
	font:normal 19px/19px Arial, Helvetica, sans-serif;
	color:#333a43;
	border:1px solid #dbbb4b;
	width:auto;
	overflow:visible;
	padding:8px 27px;
	text-shadow:1px 1px 1px #f8e3a8;
	margin:0 15px 0 0;
	box-shadow:none;
	cursor:pointer;
}
input[type="button"].blue_button {
	background:#fddb5d url(../images/button_blue_bg.gif) repeat-x left top;
	font:normal 19px/19px Arial, Helvetica, sans-serif;
	color:#fff;
	border:1px solid #496594;
	width:auto;
	overflow:visible;
	padding:8px 27px;
	height:43px;
	text-shadow:1px 1px 1px #2b3c57;
	margin:0 15px 19px 0;
	box-shadow:none;
	cursor:pointer;
	border-radius:6px;
	behavior:url(/style/PIE.htc);
	position:relative;
}
input[type="button"].blue_button:hover {
	background:#555e6a url(../images/button_over_bg.gif) repeat-x left top;
	color:#333a43;
	border:1px solid #dbbb4b;
	text-shadow:1px 1px 1px #f8e3a8;
}
input[type="button"].activeblue {
	background:#555e6a url(../images/button_over_bg.gif) repeat-x left top;
	font:normal 19px/19px Arial, Helvetica, sans-serif;
	color:#333a43;
	border:1px solid #dbbb4b;
	width:auto;
	overflow:visible;
	padding:8px 27px;
	height:43px;
	text-shadow:1px 1px 1px #f8e3a8;
	margin:0 15px 0 0;
	box-shadow:none;
	cursor:pointer;
	
}
input[type="button"].bluesm_button {
	background:#fddb5d url(../images/button_bluesm_bg.gif) repeat-x left top;
	font:normal 19px/19px Arial, Helvetica, sans-serif;
	color:#fff;
	border:1px solid #496594;
	width:auto;
	overflow:visible;
	padding:8px 27px;
	height:43px;
	text-shadow:1px 1px 1px #2b3c57;
	margin:0 15px 19px 0;
	box-shadow:none;
	cursor:pointer;
	border-radius:6px;
	behavior:url(/style/PIE.htc);
	position:relative;
}
input[type="button"].bluesm_button:hover {
	background:#555e6a url(../images/button_over_bg.gif) repeat-x left top;
	color:#333a43;
	border:1px solid #dbbb4b;
	text-shadow:1px 1px 1px #f8e3a8;
}
input[type="button"].activebluesm {
	background:#555e6a url(../images/button_over_bg.gif) repeat-x left top;
	font:normal 19px/19px Arial, Helvetica, sans-serif;
	color:#333a43;
	border:1px solid #dbbb4b;
	width:auto;
	overflow:visible;
	padding:8px 27px;
	text-shadow:1px 1px 1px #f8e3a8;
	margin:0 15px 0 0;
	box-shadow:none;
	cursor:pointer;
}
input[type="button"].green_button {
	background:#fddb5d url(../images/button_green_bg.gif) repeat-x left top;
	font:normal 19px/19px Arial, Helvetica, sans-serif;
	color:#fff;
	border:1px solid #72a52f;
	width:auto;
	overflow:visible;
	padding:8px 27px;
	height:43px;
	text-shadow:1px 1px 1px #4b6e1d;
	margin:0 15px 19px 0;
	box-shadow:none;
	cursor:pointer;
	border-radius:6px;
	behavior:url(/style/PIE.htc);
	position:relative;
}
input[type="button"].green_button:hover {
	background:#555e6a url(../images/button_over_bg.gif) repeat-x left top;
	color:#333a43;
	border:1px solid #dbbb4b;
	text-shadow:1px 1px 1px #f8e3a8;
}
input[type="button"].activegreen {
	background:#555e6a url(../images/button_over_bg.gif) repeat-x left top;
	font:normal 19px/19px Arial, Helvetica, sans-serif;
	color:#333a43;
	border:1px solid #dbbb4b;
	width:auto;
	overflow:visible;
	padding:8px 27px;
	text-shadow:1px 1px 1px #f8e3a8;
	margin:0 15px 0 0;
	box-shadow:none;
	cursor:pointer;
}
input[type="button"].green_light_button {
	background:#fddb5d url(../images/button_green_light_bg.gif) repeat-x left top;
	font:normal 19px/19px Arial, Helvetica, sans-serif;
	color:#fff;
	border:1px solid #7ab133;
	width:auto;
	overflow:visible;
	padding:8px 27px;
	height:43px;
	text-shadow:1px 1px 1px #527c1b;
	margin:0 15px 19px 0;
	box-shadow:none;
	cursor:pointer;
	border-radius:6px;
	behavior:url(/style/PIE.htc);
	position:relative;
}
input[type="button"].green_light_button:hover {
	background:#555e6a url(../images/button_over_bg.gif) repeat-x left top;
	color:#333a43;
	border:1px solid #dbbb4b;
	text-shadow:1px 1px 1px #f8e3a8;
}
input[type="button"].activegreen_light {
	background:#555e6a url(../images/button_over_bg.gif) repeat-x left top;
	font:normal 19px/19px Arial, Helvetica, sans-serif;
	color:#333a43;
	border:1px solid #dbbb4b;
	width:auto;
	overflow:visible;
	padding:8px 27px;
	text-shadow:1px 1px 1px #f8e3a8;
	margin:0 15px 0 0;
	box-shadow:none;
	cursor:pointer;
}
input[type="button"].red_button {
	background:#e4294c url(../images/button_red_bg.gif) repeat-x left top;
	font:normal 19px/19px Arial, Helvetica, sans-serif;
	color:#fff;
	border:1px solid #e32549;
	width:auto;
	overflow:visible;
	padding:8px 27px;
	height:43px;
	text-shadow:1px 1px 1px #8e182e;
	margin:0 15px 19px 0;
	box-shadow:none;
	cursor:pointer;
	border-radius:6px;
	behavior:url(/style/PIE.htc);
	position:relative;
}
input[type="button"].red_button:hover {
	background:#555e6a url(../images/button_over_bg.gif) repeat-x left top;
	color:#333a43;
	border:1px solid #dbbb4b;
	text-shadow:1px 1px 1px #f8e3a8;
}
input[type="button"].activered {
	background:#555e6a url(../images/button_over_bg.gif) repeat-x left top;
	font:normal 19px/19px Arial, Helvetica, sans-serif;
	color:#333a43;
	border:1px solid #dbbb4b;
	width:auto;
	overflow:visible;
	padding:8px 27px;
	text-shadow:1px 1px 1px #f8e3a8;
	margin:0 15px 0 0;
	box-shadow:none;
	cursor:pointer;
}
input[type="button"].red_light_button {
	background:#ed5d77 url(../images/button_redlight_bg.gif) repeat-x left top;
	font:normal 19px/19px Arial, Helvetica, sans-serif;
	color:#fff;
	border:1px solid #f03a5d;
	width:auto;
	overflow:visible;
	padding:8px 27px;
	height:43px;
	text-shadow:1px 1px 1px #a52941;
	margin:0 15px 19px 0;
	box-shadow:none;
	cursor:pointer;
	border-radius:6px;
	behavior:url(/style/PIE.htc);
	position:relative;
}
input[type="button"].red_light_button:hover {
	background:#555e6a url(../images/button_over_bg.gif) repeat-x left top;
	color:#333a43;
	border:1px solid #dbbb4b;
	text-shadow:1px 1px 1px #f8e3a8;
}
input[type="button"].activered_light {
	background:#555e6a url(../images/button_over_bg.gif) repeat-x left top;
	font:normal 19px/19px Arial, Helvetica, sans-serif;
	color:#333a43;
	border:1px solid #dbbb4b;
	width:auto;
	overflow:visible;
	padding:8px 27px;
	text-shadow:1px 1px 1px #f8e3a8;
	margin:0 15px 0 0;
	box-shadow:none;
	cursor:pointer;
}
.left_con {
	width:63%;
	float:left;
	margin:0 3% 0 0;
}
.left_con_button {
	width:100%;
	float:left;
	overflow:hidden;
	margin:0 0 34px 0;
}
.idsection {
	width:100%;
	float:left;
	overflow:hidden;
}
.idsection p {
	color:#697073;
	font: normal 14px Arial, Helvetica, sans-serif;
	padding:6px 0 0 0;
	text-shadow:1px 1px 1px #fff;
}
.idsection_bx1 {
	float:left;
	margin:0;
	padding:0;
}
.idsection_bx1 input[type="text"] {
	border:3px solid #a9a5a5;
	background:url(../images/enter_bg.gif) repeat-x left top;
	font:normal 28px Arial, Helvetica, sans-serif;
	width:345px;
	padding:8px 0 8px 16px;
	border-radius:6px;
	behavior:url(/style/PIE.htc);
	position:relative;
}
.idsection_bx2 {
	float:left;
	padding:18px 0 0 10px;
}
.sep_left {
	background:url(../images/sep_left.gif) repeat-x left top;
	height:58px;
	float:left;
	overflow:hidden;
	width:100%;
}
.right_con {
	width:34%;
	float:left;
}
.grid_table {
	margin:0 0 0 0;
	padding:0 0 0 0;
	border-left:1px solid #ccced0;
	border-right:1px solid #ccced0;
	border-top:1px solid #ccced0;
}
.grid_table td {
	border-bottom:1px solid #ccced0;
	color: #555d6a;
	font:normal 12px Arial, Helvetica, sans-serif;
	background:url(../images/grid_td_right.gif) repeat-y right top;
	padding:10px;
}
.grid_table td.image {
	margin:0;
	padding:6px 10px 0 10px;
}
.grid_table td.image img {
	margin:0;
	padding:0 10px 0 0;
}
.grid_table td.last {
	background:url(../images/grid_td_right_last.gif) repeat-y right top;
}
.grid_table th {
	margin:0;
	padding:10px;
	background:url(../images/tab_head_bg.gif) no-repeat right top;
	font:bold 12px Arial, Helvetica, sans-serif;
	color: #4c5e70;
	text-shadow:1px 1px 1px #ffffff;
}
.grid_table th.last {
	background:url(../images/tab_head_last_bg.gif) no-repeat right top;
}
.grid_table th img {
	cursor:pointer;
}
.package_row1 {
	background:#fff url(../images/tab_grid_normal.gif) repeat-x left bottom;
}
.package_row1:hover {
	background:#e5f1fd url(../images/tab_grid_hover.gif) repeat-x left bottom;
}
.package_row1.active {
	background:#e5f1fd url(../images/tab_grid_hover.gif) repeat-x left bottom;
}
.touch_table {
	margin:0 0 0 0
}
.touch_table th {
	padding:13px 10px;
}
.touch_table td {
	padding:13px 10px;
}
.product_sec {
	width:100%;
	float:left;
	margin:0;
	padding:0;
}
.product_breedcrum {
	width:100%;
	float:left;
	margin:0 0 0 -4px;
	padding:0 0 29px 0;
}
.product_breedcrum ul {
	margin:0;
	padding:0;
}
.product_breedcrum ul li {
	margin:0;
	padding:0 18px 0 4px;
	list-style:none;
	float:left;
	font:bold 15px Arial, Helvetica, sans-serif;
	color: #596164;
	background:url(../images/breed_arrow.gif) no-repeat right 5px;
}
.product_breedcrum ul li a {
	margin:0;
	padding:0;
	text-decoration:underline;
	color: #456393;
}
.product_breedcrum ul li a:hover {
	margin:0;
	padding:0;
	text-decoration:underline;
	color: #b89128;
}
.product_levelone {
	width:100%;
	float:left;
	margin:0;
	padding:0 0 0px 0;
}
.product_leveltwo {
	width:100%;
	float:left;
	margin:0;
	padding:0;
}

.bone_panel {
	width:100%;
	padding:0;
	margin:0;
	background:#666666;
}
.bone_left {
	float:left;
	margin:0 3% 0 0;
	padding:0;
	width:67%;
}
.bone_left_head {
	width:100%;
	float:left;
}
.bone_left_head h2 {
	color:#6183a9;
	font:normal 20px Arial, Helvetica, sans-serif;
	padding:0 0 18px 0;
	background:url(../images/bone_head_bg.gif) repeat-x left bottom;
}
.bone_date_des {
	width:100%;
	float:left;
	padding:30px 0 30px 0;
}
.bone_date {
	width:188px;
	margin:0;
	float:left;
}
.bone_date_cus {
	width:147px;
	margin:0;
	float:left;
}
.bone_date_bx1 {
	width:35px;
	float:left;
	color:#596164;
	font:normal 12px Arial, Helvetica, sans-serif;
	padding:3px 0 0 0;
}
.bone_date_bx2 {
	float:left;
	width:98px;
	border:1px solid #c0c7ce;
	border-radius:6px;
	behavior:url(/style/PIE.htc);
	position:relative;
	background:#fff url(../images/bone_input_bg.gif) repeat-x top left;
	margin:0;
	padding:2px 0px 0px 10px;
	height:25px;
}
.bone_date_bx2 input[type="text"] {
	width:70px;
	border:none;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#8b7d7d;
	margin:0 0 0 0;
	padding:4px 0 0 0;
	background:none;
	float:left;
}
.rework_tab {
	margin:0;
	padding:0;
	width:auto;
	float:left;
}
.rework_tab_bx1 {
	float:left;
	margin:0;
	padding:5px 0 0 0;
	color:#596164;
	font:normal 12px Arial, Helvetica, sans-serif;
	width:120px;
}
.rework_tab_bx1 input[type="checkbox"] {
	margin:0;
	padding:0;
	width:20px;
	background:none;
	border:none;
	float:left;
}
.rework_tab_bx2 {
	float:left;
	margin:0;
	padding:0;
}
.rework_tab_bx2_txt {
	float:left;
	color:#596164;
	font:normal 12px Arial, Helvetica, sans-serif;
	padding:7px 5px 0 0;
}
.rework_tab_bx2_input {
	float:left;
	color:#596164;
	font:normal 12px Arial, Helvetica, sans-serif;
}
.bone_right {
	float:left;
	margin:0;
	padding:0;
	width:30%;
}
.bane_data {
	width:100%;
	float:left;
}
.scroll_pane_product {
	height:760px;
	overflow:hidden;
}
.scroll_pane_bone {
	height:600px;
	width:auto;
}
/* preet Css*/
.form_text_style {
	color:#596164;
	font:normal 12px Arial, Helvetica, sans-serif;
	margin:0;
	padding:3px 6px 0 0;
}
.form_input_pad {
	padding:0 0 8px 0;
}
input[type="button"].darkblue {
	background:#6485ab url(../images/darkblue_bg.gif) repeat-x left top;
	font:normal 13px/19px Arial, Helvetica, sans-serif;
	color:#fff;
	border:1px solid #5a79a1;
	width:auto;
	overflow:visible;
	padding:0px 8px 2px 8px;
	text-shadow:1px 1px 1px #4c6787;
	margin:0;
	box-shadow:none;
	cursor:pointer;
	border-radius:5px;
	behavior:url(/style/PIE.htc);
	position:relative;
}
input[type="button"].darkblue:hover {
	color:#202429;
	background:#f9d456 url(../images/darkblue_bg_ho.gif) repeat-x left top;
	border: 1px solid #efc33d;
	text-shadow:1px 1px 1px #f5dc8a;
}
.grid_table td.image input[type="text"], .grid_table td.image select {
	margin:0 0 0 0;
	padding:2px 3px 2px 3px;
	width:60px;
}



.grid_table td.image select {
	width:70px;
}
.print_div {
	float:right;
	margin:0;
	padding:0 0 11px 0;
}
.print_div img {
	float:left;
}
.print_div a {
	margin:0;
	padding:0;
	font:normal 12px/12px Arial, Helvetica, sans-serif;
	color:#596164;
	text-shadow:1px 1px 1px #fff;
	text-decoration:none;
}


/*  Pick Order     */
.cus_order {
	float:left;
	width:49%;
	margin:0 1% 0 0;
}
.pallet_order {
	float:left;
	width:48%;
	margin:0 0 0 2%;
}
input[type="button"].gray_button_dark {
	background:#fddb5d url(../images/button_normal_dark_bg.gif) repeat-x left top;
	font:normal 17px/19px Arial, Helvetica, sans-serif;
	color:#fff;
	border:1px solid #545b67;
	width:auto;
	overflow:visible;
	padding:0 10px;
	height:31px;
	text-shadow:1px 1px 1px #525559;
	margin:0 10px 19px 0;
	box-shadow:none;
	cursor:pointer;
	border-radius:6px;
	behavior:url(/style/PIE.htc);
	position:relative;
}
input[type="button"].gray_button_dark:hover {
	background:#555e6a url(../images/button_over_bg.gif) repeat-x left top;
	color:#333a43;
	border:1px solid #dbbb4b;
	text-shadow:1px 1px 1px #f8e3a8;
}
input[type="button"].activegray_dark {
	background:#555e6a url(../images/button_over_bg.gif) repeat-x left top;
	font:normal 19px/19px Arial, Helvetica, sans-serif;
	color:#333a43;
	border:1px solid #dbbb4b;
	width:auto;
	overflow:visible;
	padding:8px 27px;
	text-shadow:1px 1px 1px #f8e3a8;
	margin:0 15px 0 0;
	box-shadow:none;
	cursor:pointer;
}
/*   Chi*/


.bone_date_des_order_text {
	padding:0 7px 0 0;
	text-align:right;
	width:auto;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#596164;
}
.bone_date_des_order_in {
	padding:0 0 7px 0;
}
input[type="button"].add_pallet {
	background:url(../images/add_pallet_img.gif) no-repeat left top;
	width:97px;
	border:none;
	margin:5px 0 27px 0;
	height:28px;
	box-shadow:none;/*font:normal 13px Arial, Helvetica, sans-serif;
	color:#fff;
	border:1px solid #5a79a1;
	width:auto;
	overflow:visible;
	padding:0px 8px 3px 26px;
	height:25px!important;
	text-shadow:1px 1px 1px #4c6787;
	margin:5px 0 21px 0;
	box-shadow:none;
	cursor:pointer;
	border-radius:5px;
	behavior:url(/style/PIE.htc);
	position:relative;*/
}
input[type="button"].add_pallet:hover {
	background:url(../images/add_pallet_bg_ho_img.gif) no-repeat left top;
	width:97px;
	border:none;
	height:28px;
	box-shadow:none;
}
.order_com {
	padding:19px 0 0 0;
}
.print_re {
	margin:0 0 0 0;
	padding:10px 0 0 0;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#596164;
}
.print_re a {
	color:#596164;
	text-decoration:none;
	text-shadow:1px 1px 1px #ffffff;
	padding:0 0 0 5px;
}
.print_re a:hover {
	color:#596164;
	text-decoration:none;
	text-shadow:1px 1px 1px #ffffff;
}
.bone_date_des_order {
	width:100%;
	float:left;
	padding:30px 0 0px 0;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#596164;
}
.order_pad {
	padding:0 0 15px 0;
}
.pallet_ord {
	padding:6px 7px 0 0;
}
.pallet_ord select {
	padding:0;
	margin:0;
	width:85px;
}
.popwrap{
	width:100%;
	background:url(../images/popup_bg.jpg) repeat left top;
	overflow:hidden;
	min-height:100%;
}
.popwrap_con{
	width:auto;
	/*background:url(../images/popup_topbg.gif) repeat-x left top;*/
	overflow:hidden;
	padding:20px;
}
/*Spin Button*/
INPUT.spinbutton {
	padding-right:20px;					
	background-repeat:no-repeat;	
	background-position:100% 0%;
	background-image:url(../images/spinbtn_updn.gif);
}

INPUT.spinbutton.up {					
	cursor:pointer;
	background-position:100% -18px;		
}
INPUT.spinbutton.down {				
	cursor:pointer;
	background-position:100% -36px;		
}
/*Spin Button*/